/* .image-container {
    width: 100%;
    height: 45vw;
    position: relative;
    float: right;
    background-color: #AFC2C9;
}

.img-dishes {
    width: 65%;
    height: 100%;
    position: relative;
    float: right;
}

.circle {
    width: 31vw;
    height: 31vw;
    position: absolute;
    top: 5vw;
    left: 14vw;
    border-radius: 50%;
    background-color: rgba(99, 146, 164, 0.5);
    z-index: 1000;
}

h2 {
    color: #1E1E1E;
    font-weight: bold;
    font-size: 3.7vw;
    position: absolute;
    width: 45vw;
    top: 3.5vw;
    left: 7vw;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 1100;
}

.circle-description {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 15vw;
    left: 8vw;
    font-size: 1.2vw;
    width: 17vw;
} */